<nav class='center'>
    <!-- AllButtons go in this section, they appear in the nav bar  -->
    <a class="button" routerLink="/about-me" routerLinkActive="activebutton">About Me</a>
    <a class="button" routerLink="/education" routerLinkActive="activebutton">Education</a>
    <a class="button" routerLink="/experiences" routerLinkActive="activebutton">Experiences</a>
    <a class="button" routerLink="/projects" routerLinkActive="activebutton">Projects</a>
    <a class="button" routerLink="/interests" routerLinkActive="activebutton">Interests</a>
    <a class="button" routerLink="/contact" routerLinkActive="activebutton">Contact</a>
    <!-- If you're adding buttons, add them above this line -->
</nav>
<router-outlet></router-outlet>

