.company {
    margin-bottom:0;
}

.position {
    margin-left: 1.4rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-style: italic;
    display: inline-block;
}

.items {
    margin-top: 0.3rem;
}

.date {
    display: block;
    float: right;
    margin: 0;
    background-color: #9facc2;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px
}