<div class="container">
    <div class="experience">
        <h4 class="company">Spartan Blockchain Solutions</h4>
        <p class="position">VP of Business Development and Education</p>
        <p class="date">Dec. 2018 - Present</p>
        <ul class="items">
            <li>Developed and build workshop and training materials for MSU students, faculty, and stakeholders</li>
            <li>Lead development teams during engagements, successfully completing and demonstrating both engagements</li>
            <li>Engaged in potential applications of blockchain technology in various industries and processes, 
                included market research, brainstorming applicable protocol, building Proof of Concepts</li>
            <li>Facilitated group meetings and led thoughtful discussion regarding the project, presented the use case in 
                the Spartan Blockchain Innovation Competition, winning Best Pitch</li>
            <li>Built 2 small projects using Node, Truffle and Solidity. Both with the goal of creating educational tools for
                 club members and for the public</li>
        </ul>
    </div>

    <div class="experience">
        <h4 class="company">Deloitte</h4>
        <p class="position">Risk & Financial Advisory (Digital Assest Assurance) Intern</p>
        <p class="date">Jul. 2020</p>
        <ul class="items">
            <li>Due to the COVID-19 Pandemic Deloitte changed the summer internship to a virtual program where I learned foundational, technical, and professional skills used in the consulting arena</li>
            <li>During my time I completed several trainings and courses regarding emerging technology, communicating with empathy, and working among diverse teams</li>
        </ul>
    </div>

    <div class="experience">
        <h4 class="company">Q2 Strategies</h4>
        <p class="position">UI Developer Intern</p>
        <p class="date">Aug. 2020</p>
        <ul class="items">
            <li></li>
        </ul>
    </div>

    <div class="experience">
        <h4 class="company">AJ Boggs & Company</h4>
        <p class="position">Junior Software Developer</p>
        <p class="date">Sept. 2019 - May 2020</p>
        <ul class="items">
            <li>Assisted in the development of existing web application products, built with Angular, C#, and SQL. These 
                products are currently in use helping 1000s of people across the nation</li>
            <li>Actively participated in a SCRUM process in an agile team to design and implement solutions for bug fixes 
                and feature additions to these products</li>
        </ul>
    </div>

    <div class="experience">
        <h4 class="company">MSU Broad College of Business</h4>
        <p class="position">Business Law and Ethics Teacher's Assistant</p>
        <p class="date">Aug. 2018 - Present</p>
        <ul class="items">
            <li>Acted as a peer-guide to assist other students in learning and understanding course material allowing for higher grades throughout the class</li>
            <li>Clarified due dates, consolidated notes and exam questions to limit confusion and mistakes on homework, tests, and quizzes</li>
            <li>Mentored students on various topics throughout the course, surrounding ideas on business structures and liability</li>
        </ul>
    </div>

    <div class="experience">
        <h4 class="company">Coetic</h4>
        <p class="position">Outreach Specialist</p>
        <p class="date">May. 2019 - Aug. 2019</p>
        <ul class="items">
            <li>Established CRM for internal use, to track 1000+ ongoing contacts and relationships. Integrated with a developed sales
                funnel and leads system</li>
            <li>Developed materials for customer resources, including generating benefits language, examining user patterns and activity</li>
            <li>Created internal materials to document outreach process and organize efforts on both the product development and
                outreach teams</li>
        </ul>
    </div>

    <div class="experience">
        <h4 class="company">Blue Federal Credit Union</h4>
        <p class="position">Business Development and Marketing Intern</p>
        <p class="date">Dec. 2018 - Present</p>
        <ul class="items">
            <li>Contributed to marketing campaigns for 4 new products and programs or which brought in over $1,000,000 in new money
                to the credit union</li>
            <li>Spot checked, scrubbed, and sent direct mail and email communications using email marketing software to relay
                information about upcoming events, promotions, and ongoing updates to members</li>
            <li>Updated website with current information about products, changes in policies, events through our Content Management
                System and Knowledge Base topics</li>
        </ul>
    </div>
</div>
