<div class="container">
    <div class="experience">
        <h4 class="company">Spartan Blockchain Solutions</h4>
        <p class="position">VP of Business Development and Education</p>
        <p class="date">Dec. 2018 - Present</p>
        <ul class="items">
            <li>Developed Workshop materials for 100 MSU students</li>
            <li>Developed Workshop materials for 100 MSU students</li>
            <li>Developed Workshop materials for 100 MSU students</li>
        </ul>
    </div>

    <div class="experience">
        <h4 class="company">Deloitte</h4>
        <p class="position">Financial Risk and Advisory Intern</p>
        <p class="date">Dec. 2018 - Present</p>
        <ul class="items">
            <li>Developed Workshop materials for 100 MSU students</li>
            <li>Developed Workshop materials for 100 MSU students</li>
            <li>Developed Workshop materials for 100 MSU students</li>
        </ul>
    </div>

    <div class="experience">
        <h4 class="company">Q2 Strategies</h4>
        <p class="position">UI Developer Intern</p>
        <p class="date">Dec. 2018 - Present</p>
        <ul class="items">
            <li>Developed Workshop materials for 100 MSU students</li>
            <li>Developed Workshop materials for 100 MSU students</li>
            <li>Developed Workshop materials for 100 MSU students</li>
        </ul>
    </div>

    <div class="experience">
        <h4 class="company">AJ Boggs & Company</h4>
        <p class="position">Junior Software Developer</p>
        <p class="date">Dec. 2018 - Present</p>
        <ul class="items">
            <li>Developed Workshop materials for 100 MSU students</li>
            <li>Developed Workshop materials for 100 MSU students</li>
            <li>Developed Workshop materials for 100 MSU students</li>
        </ul>
    </div>

    <div class="experience">
        <h4 class="company">MSU Broad College of Business</h4>
        <p class="position">Business Law and Ethics Teacher's Assistant</p>
        <p class="date">Dec. 2018 - Present</p>
        <ul class="items">
            <li>Developed Workshop materials for 100 MSU students</li>
            <li>Developed Workshop materials for 100 MSU students</li>
            <li>Developed Workshop materials for 100 MSU students</li>
        </ul>
    </div>

    <div class="experience">
        <h4 class="company">Coetic</h4>
        <p class="position">Outreach Specialist</p>
        <p class="date">Dec. 2018 - Present</p>
        <ul class="items">
            <li>Developed Workshop materials for 100 MSU students</li>
            <li>Developed Workshop materials for 100 MSU students</li>
            <li>Developed Workshop materials for 100 MSU students</li>
        </ul>
    </div>

    <div class="experience">
        <h4 class="company">Blue Federal Credit Union</h4>
        <p class="position">Business Development and Marketing Intern</p>
        <p class="date">Dec. 2018 - Present</p>
        <ul class="items">
            <li>Developed Workshop materials for 100 MSU students</li>
            <li>Developed Workshop materials for 100 MSU students</li>
            <li>Developed Workshop materials for 100 MSU students</li>
        </ul>
    </div>
</div>
