<div class="container">
    <div class="text-block">
        I'm a senior at Michigan Statue University studying Computer Science and Finance. I'm very interested in how emerging technologies like machine learning, blockchain, and IoT can impact our world and add value. 
        I have always loved to build things, be creative, and help others, and with technology I have found a great space to achieve all of these things. 
        Through my education and experiences, I've developed a strong set of skills to work within a company and make a positive difference.
    </div>
</div>
