<div class="container">
    <div class="project">
        <a href="https://github.com/sawyerru/auto-investor">
            <h4 class="title">Stock Market Trading Bot</h4>
        </a>
        <div class="content">
            <h4 class="section">What it is:</h4>
            <p class="section-content">This is a Python bot that is running on a personal home server. The bot runs 2 scripts per day- one to gather data and train a machine learning model, the other to execute a buy/sell trade</p>
            <h4 class="section">What it is built with:</h4>
            <ul class="section-content">
                <li>Mongo DB</li>
                <li>SMTP Email Protocol</li>
                <li>Robin-Stocks libray to interact with Robinhood API</li>
                <li>Tensorflow</li>
                <li>FinnHub Finance Data API</li>
            </ul>
            <h4 class="section">What I learned:</h4>
            <ul class="section-content">
                <li>Setting up home servers (port forwarding, firewalls, IP, network programming)</li>
                <li>Building Machine Learning models with Tensorflow and Keras</li>
                <li>Mongo DB as a No-SQL way to store data and interact with</li>
                <li>SMTP email protocol (built into Python) to handle updates from the bot</li>
                <li>Python requests library to use APIs</li>
            </ul>
            <h4 class="section">Future plans:</h4>
        </div>
    </div>
</div>
