<div class="container">
    <div class="project">
        <a href="https://github.com/sawyerru/auto-investor">
            <h4 class="title">Stock Market Trading Bot</h4>
        </a>
        <div class="content">
            <h4 class="section">What it is:</h4>
            <p class="section-content">This is a Python bot that is running on a personal home server. The bot runs 2 scripts per day- one to gather data and train a machine learning model, the other to execute a buy/sell trade</p>
            <h4 class="section">What it is built with:</h4>
            <ul class="section-content">
                <li>Mongo DB</li>
                <li>SMTP Email Protocol</li>
                <li>Robin-Stocks libray to interact with Robinhood API</li>
                <li>Tensorflow</li>
                <li>FinnHub Finance Data API</li>
            </ul>
            <h4 class="section">What I learned:</h4>
            <ul class="section-content">
                <li>Setting up home servers (port forwarding, firewalls, IP, network programming)</li>
                <li>Building Machine Learning models with Tensorflow and Keras</li>
                <li>Mongo DB as a No-SQL way to store data and interact with</li>
                <li>SMTP email protocol (built into Python) to handle updates from the bot</li>
                <li>Python requests library to use APIs</li>
            </ul>
            <h4 class="section">Future plans:</h4>
            <ul>
                <li>Deploy on server</li>
                <li>Make FaceBook Bot to chat and send updates</li>
                <li>Django Dashboard</li>
                <li>Refine Tensorflow models and tune hyperparameters</li>
                <li>Create Dockerfile and run in docker container</li>
            </ul>
        </div>
    </div>

    <div class="project">
        <a href="https://github.com/sawyerru/mindful-mobile">
            <h4 class="title">Mobile App to help people pause and reflect on learning moments</h4>
        </a>
        <div class="content">
            <h4 class="section">What it is:</h4>
            <p class="section-content">It is a React Native project for people to have as a mobile app to reflect on difficult times in life</p>
            <h4 class="section">What it is built with:</h4>
            <ul class="section-content">
                <li>SQLite</li>
                <li>React Native</li>
                <li>Expo SDK</li>
            </ul>
            <h4 class="section">What I learned:</h4>
            <ul class="section-content">
                <li>Mobile App design</li>
                <li>Data storage natively</li>
                <li>React & React Native Framework</li>
                <li>Expo SDK</li>
            </ul>
            <h4 class="section">Future plans:</h4>
            <ul>
                <li>Complete UI and flush out bugs</li>
                <li>Properly store data</li>
                <li>Publish on App Store and Play Store!</li>
            </ul>
        </div>
    </div>

    <div class="project">
        <a href="https://github.com/sawyerru/supply-chain-blockchain">
            <h4 class="title">Simple Supply Chain example using Smart Contracts </h4>
        </a>
        <div class="content">
            <h4 class="section">What it is:</h4>
            <p class="section-content">A very basic React App to practice hitting Metamask Provider and Truffle Endpoints via Web3</p>
            <h4 class="section">What it is built with:</h4>
            <ul class="section-content">
                <li>Solidty</li>
                <li>React</li>
                <li>Truffle</li>
                <li>Metamask</li>
            </ul>
            <h4 class="section">What I learned:</h4>
            <ul class="section-content">
                <li>Smart Contract creation</li>
                <li>Interaction with smart contracts on the blockchain</li>
            </ul>
            <h4 class="section">Future plans:</h4>
            <ul>
                <li>Update UI and lead workshop with MSU Supply Chain</li>
                <li>Make a stronger supply chain example</li>
            </ul>
        </div>
    </div>

    <div class="project">
        <a href="https://github.com/spartanblockchain/spartan-truffle-box">
            <h4 class="title">Truffle Box</h4>
        </a>
        <div class="content">
            <h4 class="section">What it is:</h4>
            <p class="section-content">Truffle Box used for learning the blockchain and visualizing what it does</p>
            <h4 class="section">What it is built with:</h4>
            <ul class="section-content">
                <li>Javascript, HTML, CSS</li>
                <li>Truffle & Ganache</li>
            </ul>
            <h4 class="section">What I learned:</h4>
            <ul class="section-content">
                <li>Web3/Blockchain Providers</li>
                <li>Truffle backend</li>
                <li>Smart Contract interaction</li>
            </ul>
            <h4 class="section">Future plans:</h4>
            <ul>
                <li>List on trufflesuite.com!</li>
            </ul>
        </div>
    </div>

    <div class="project">
        <a href="https://github.com/sawyerru/resume">
            <h4 class="title">Live Personal Resume</h4>
        </a>
        <div class="content">
            <h4 class="section">What it is:</h4>
            <p class="section-content">Personal Website to store resume, projects, blog, etc</p>
            <h4 class="section">What it is built with:</h4>
            <ul class="section-content">
                <li>Angular</li>
            </ul>
            <h4 class="section">What I learned:</h4>
            <ul class="section-content">
                <li>Writing code for beginners</li>
                <li>Angular Routing</li>
            </ul>
            <h4 class="section">Future plans:</h4>
            <ul>
                <li>Continue to update styling and content</li>
            </ul>
        </div>
    </div>
</div>
