/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #ddd;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container {
    /* You can add styles here for your content boxes */
    /* It is advised to not change margin and padding properties
     due to issues with viewing the website on mobile */
}